asgiref==3.10.0
astroid==3.3.11
charset-normalizer==3.4.4
deprecation==2.1.0
dill==0.4.0
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.11
inflection==0.5.1
isort==6.1.0
mccabe==0.7.0
packaging==25.0
pillow==12.0.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
pylint==3.3.9
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytz==2025.2
PyYAML==6.0.3
reportlab==4.4.5
sqlparse==0.5.3
tailwindcss==0.0.1
tomlkit==0.13.3
tzdata==2025.2
uritemplate==4.2.0
